

h1 {
    font-size: 4em;
    margin-top: 14%;
    text-align: center;
}

#checkVendors {
    font-size: 2.5em;
    display: block;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}

a:hover {
    text-decoration:chartreuse;
}