@{
  Layout = "_Layout";
}

@using Tracker.Models;

<h1>Vendors:</h1> 

@foreach (Vendor vendor in Model) 
{
  <h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3>
}

<h4><a href='/vendors/new'>Create a new Vendor</a></h4>
