@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>
<div class="container">
  <div class="col d-flex justify-content-center">
<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  
  <div class="form-group">
    <label for="orderTitle">Order Title</label>
    <input id="orderTitle" name="orderTitle" type="text">
  </div>
  <div class="form-group">
    <label for="orderDescription">Order Description</label>
    <input id="orderDescription" name="orderDescription" type="text">
  </div>
  <div class="form-group">
    <label for="orderPrice">Order Price</label>
    <input id="orderPrice" name="orderPrice" type="number">
  </div>
  <div class="form-group">
    <label for="orderDate">Order Date</label>
    <input id="orderDate" name="orderDate" type="text">
  </div>
  <button type='submit' class="btn btn-secondary">Add Order</button>
  </div>
</form>
</div>