@{
  Layout = "_Layout";
}

<h1>Order details: </h1>

<h2>@Model["order"].Title</h2>
<h3>@Model["order"].Description</h3>
<h3>@Model["order"].Price</h3>
<h3>@Model["order"].Date</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>